<div class="row card-group">
    <div class="col-3" *ngFor="let domainName of domainNames">
        <div class="card border-primary mt-3 shadow animated fadeIn">
            <div class="card-header">
                <div class="float-right">
                  
                </div>

                <div class="float-left">
                    <a class="btn btn-sm btn-info" routerLink="/domains/{{domainName}}">
                        <fa-icon [icon]="['fas', 'info-circle']" size="xs"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="card-body text-primary">
                <h5>{{domainName}}</h5>
            </div>
        </div>
    </div>
</div>