<section class="mt-3 mb-5 my-custom-section" *ngIf="timepointAverages !== null && graph?.data !== null">
    <div class="card border-primary shadow animated fadeIn">
        <div class="card-header">
            <div class="float-left">
                <h5 class="text-dark">Time Point Averages</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-center">
                                        <label class="text-dark">Time Point</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-center">
                                        <label class="text-dark">Average Value</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body my-custom-scrollbar">
                            <table class="table table-striped">
                                <tbody>
                                    <tr *ngFor="let timepointAverage of timepointAverages; index as i"
                                        (click)="selectTimepointAverage(timepointAverage)">
                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="d-flex justify-content-center">
                                                        <span class="badge badge-secondary">
                                                            {{ timepointAverage.Timepoint | number:'1.2-3' }}
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="d-flex justify-content-center">
                                                        <span class="badge badge-info">
                                                            {{ timepointAverage.AverageValue | number:'1.2-3' }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
                </div>
            </div>
        </div>

    </div>
</section>